@font-face{
    font-family: cooper;
    src: url(./cooperltbtlight.ttf);

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cooper;
}
html, body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#page1{
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
#nav{
    height: 100px;
    width: 100%;
    padding: 0 40px;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
}
#nav>h1{
    font-size: 31px;
    font-weight: 500;
}

span{
    display: inline-block;
    content: "";
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background-color: springgreen;
    margin-left: 2px;
}

#nav #part2{
    display: flex;
    align-items: center;
    /* justify-content: center;*/
} 

#nav #part2 a{
    text-decoration: none;
    color: #222;
    margin: 25px;
}

#nav #part2 a:nth-last-child(1){
    font-size: 21px;
    padding: 7px 18px;
    border-radius: 50px;
    border: 1px solid #00000063;
    position: relative;
    overflow: hidden;
}

#nav #part2 a:nth-last-child(1) #green{
    width: 100%;
    height: 100%;
    background-color: springgreen;
    position: absolute;
    top: 0;
    left: -100%;
    transition: left 0.5s ease;
}

#nav #part2 a:nth-last-child(1) h5{
    font-weight: 100;
    position: relative;
    z-index: 1;
}

#nav #part2 a:nth-last-child(1):hover #green{
    left: 0;
}

#nav #part2 a:nth-child(-n+5){
    border-bottom: 2px solid transparent;
}

#nav #part2 a:nth-child(-n+5):hover {
    /* Your styles here */
    border-bottom: 2px solid springgreen;
    transition: 0.4s ease;
}

#page1>h1{
    font-size: 4.7vw;
    width: 60%;
    font-weight: 100;
    text-align: center;
    text-transform: capitalize;
    position: relative;
    z-index: 1;
}

#page1>h1::after{
    content: "";
    position: absolute;
    width: 33%;
    height: 16px;
    bottom: -5%;
    left: 50%;
    transform: translate(-50%);
    background-image: url(https://thisisdigital.co.uk/dist/images/underline-green.svg);
    background-size: cover;
}

#main #img1{
    height: 440px;
    width: 300px;
    position: absolute;
    left: 6%;
    top: 20%;
}

#main #img2{
    height: 220px;
    width: 250px;
    position: absolute;
    right: 24%;
    top: 19%;
}

#main #img3{
    height: 264px;
    width: 265px;
    position: absolute;
    right: 9%;
    top: 54%;
}

#page1 img{
    transition: margin 0.6s ease;
}

#page1 img:hover{
    margin-top: -15px;
}

#page1 #txt{
    position: absolute;
    display: flex;
    bottom: 27%;
    align-items: center;
    text-align: center;
}

#page1 #txt h5{
    font-size: 1.5vw;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
    z-index: 1;
    color: #000000af;
    letter-spacing: 0.5px;
}

#txt i{
    display: flex;
    font-size: 1.6vw;
    margin-left: 13px;
    border: 1px solid #00000063;
    width: 60px;
    height: 35px;
    border-radius: 25px;
    align-items: center;
    text-align: center;
    justify-content: center;
    overflow: hidden;
    transition: 0.5s ease;
    position: relative;
    z-index: 1;
}
#txt i::before {
    display: inline-block;
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: springgreen;
    transition: left 0.5s ease;
    z-index: -1;
}

#txt i:hover::before {
    left: 0;
}
#txt i:hover{
    cursor: pointer;
}

#page2{
    height: 70vh;
    width: 100%;
    background-color: #000;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
    top: 90vh;
}

#test{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#test #ball{
    content: "";
    /* position: absolute; */
    /* left: 32%;
    top: 22%; */
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background-color: springgreen;
}

#test h5{
    font-size: 19px;
    font-family: gilroy;
    font-weight: 500;
}
#page2 h1{
    font-size: 47px;
    width: 70%;
    margin: 30px 0;
    text-align: center;
    font-family: cooper;
    font-weight: 100;
    position: relative;
}

#page2 h1::after{
    content: "";
    position: absolute;
    height: 68px;
    width: 208px;
    bottom: -3px;
    left: 38.5%;
    background-image: url(https://thisisdigital.co.uk/dist/images/circle-green.svg);
}

#about{
    display: flex;
    align-items: center;
}

#about>h4{
    font-size: 28px;
    font-weight: 500;
    font-family: gilroy;
}

#green2{
    height: 40px;
    width: 80px;
    border: 2px solid #fff;
    border-radius: 50px;
    margin-left: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#green2 img{
    height: 45px;
}

/* #page3{
    height: 100vh;
    width: 100vw;
} */


@media (max-width:950px){
    body::before{
        content: "Mobile view is NOT Available! Please open in Laptop or Desktop.";
        display: block;
        font-size: 5.5vw;
        width: 40%;
        text-align: center;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%);
    }
    #main{
        display: none;
    }
}