@font-face {
    font-family: 'Monument';
    src: url(./MonumentExtended-Regular.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
}

html, body{
    padding: 10px;
    height: 100%;
    width: 100%;
    font-family: 'Monument', sans-serif;
}

#main{
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main img{
    height: 550px;
    width: 400px;
    z-index: 99;
    object-fit: cover;
}

#scroll-text{
    position: absolute;
    top: 24%;
    width: 100%;
    /* height: 100px; */
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

#scroll-text::-webkit-scrollbar{
    display: none;
}

#scroll-text h1{
    display: inline-block;
    font-size: 135px;
    text-transform: uppercase;
    font-family: Monument;
    margin-right: 30px;
    letter-spacing: 3px;
    animation: slide1 1s infinite linear;
}
@keyframes slide1{
    0%{
        transform: translateX(calc(-100% - 30px));
    }
    100%{
        transform: translateX(0);
    }
}

/* 2nd  */
#scroll-text2{
    position: absolute;
    top: 44%;
    width: 100%;
    /* height: 100px; */
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    z-index: 100;
}

#scroll-text2::-webkit-scrollbar{
    display: none;
}

#scroll-text2 h1{
    display: inline-block;
    font-size: 135px;
    text-transform: uppercase;
    font-family: Monument;
    margin-right: 30px;
    letter-spacing: 3px;
    color: transparent;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: black;
    animation: slide2 2s infinite linear;
}
@keyframes slide2{
    0%{
        transform: translateX(calc(-100% - 39px));
    }
    100%{
        transform: translateX(0);
    }
}
/* 3rd */
#scroll-text3{
    position: absolute;
    top: 64%;
    width: 100%;
    /* height: 100px; */
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

#scroll-text3::-webkit-scrollbar{
    display: none;
}

#scroll-text3 h1{
    display: inline-block;
    font-size: 135px;
    text-transform: uppercase;
    font-family: Monument;
    margin-right: 30px;
    letter-spacing: 3px;
    animation: slide3 1s infinite linear;
}
@keyframes slide3{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-100% - 30px));
    }
}

#img-text{
    font-size: 25px;
    position: absolute;
    font-family: Monument;
    width: 58%;
    z-index: 999;
    text-align: center;
    top: 15%;
    text-transform: uppercase;
    letter-spacing: 0.9px;
}

#nav{
    margin: 0px;
    padding: 0px;
    display: flex;
    position: absolute;
    top: 0%;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    line-height: 5px;
}

#nav h1{
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
}
#nav a{
    text-decoration: none;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-size: 13px;
    color: black;
}

#menu{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: end;
}
#menu i{
    margin: 0px 6px;
    font-size: 19px;
}

#cu{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: goldenrod;
}

#leftbottomtext{
    position: absolute;
    left: 0%;
    width: 18%;
    bottom: 7%;
    font-size: 13px;
    text-transform: uppercase;
    font-family: monospace;
    font-weight: 900;
}

#bottomtext{
    position: absolute;
    left: 0%;
    width: 20%;
    bottom: 0;
    font-size: 11px;
    text-transform: uppercase;
    font-family: monospace;
    font-weight: 500;
    letter-spacing: 2px;
}

#credits{
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 11px;
    text-transform: uppercase;
    font-family: monospace;
    font-weight: 500;
    letter-spacing: 2px;
    padding-bottom: 2px;
    border-bottom: 1px solid black;
}

#default{
    font-size: 15px;
    position: absolute;
    font-family: Monument;
    width: 38%;
    z-index: 999;
    text-align: center;
    top: 9%;
    text-transform: uppercase;
    letter-spacing: 0.9px;
}

@media screen and (max-width: 450px) {
    html, body{
        padding: 10;
    }
    #main img{
        margin: 0 auto;
        top: 8%;
    }
    #cu{
        display: none;
    }
    #nav{
        top: 3%;
    }
    #nav a{
        font-size: 12px;
        letter-spacing: 1px;
    }
    #menu{
        align-items: center;
        justify-content: center;
    }
    #menu i{
        margin: 0px 3px;
        font-size: 24px;
    }
    #bottomtext{
        display: none;
    }
    #leftbottomtext{
        display: none;
   }
   #credits{
       left: 60%;
       transform: translateX(-74%);
       min-width: 50%;
       border-bottom: 0px;
   }
   #scroll-text2{
         top: 47%;
   }
   #scroll-text2 h1{
    font-size: 65px;
    margin-right: 15px;
    font-family: Monument;
    letter-spacing: 2px;
   }
   @keyframes slide2{
    0%{
        transform: translateX(calc(-100% - 25px));
    }
    100%{
        transform: translateX(0);
    }
   }
  #img-text{
    display: none;
  }
  #default{
    display: block;}
   #main img{
    height: 500px;
    width: 300px;
    z-index: 98;
   }
}

@media screen and (min-width: 451px) and (max-width: 750px){
    #default{
        display: block;
    }
    #cu{
        display: none;
    }
    #bottomtext{
        display: none;
    }
    #leftbottomtext{
        display: none;
   }
   #nav{
    display: none;
   }
   #img-text{
    display: none;
   }
   #credits{
    display: none;
   }
   /* #scroll-text2, #scroll-text3, #scroll-text{
        display: none;
    } */
    #main img{
        display: none;
    }
}

@media screen and (min-width: 751px)
{
    #default{
        display: none;}
    #img-text{
        display: block;
    }
}